@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

html.dark,
body.dark {
  background-color: #0f172a;
}
